@tailwind base;

@tailwind components;

@tailwind utilities;

input[type="date"] {
  min-height: 2.7rem;
}

.hover\:enlarge {
  transform: scaleX(-1);
}
.hover\:enlarge:hover {
  transform: translateY(-1px) scaleX(-1);
}

.z--1 {
  z-index: -1;
}

a.link {
  @apply .text-blue-500 .underline;
}

.backdrop-filter {
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

.rcw-launcher {
  @apply flex justify-center items-center;
}

.rcw-header {
  background-color: white !important;
  color: black !important;
}

.rcw-launcher {
  background-color: white !important;
  transform: scale(1.3) !important;
}

.rcw-close-button {
  @apply flex justify-center;
  background-color: #3f83f8 !important;
}

.rcw-open-launcher,
.rcw-close-launcher {
  filter: brightness(0);
}
